@import "tailwindcss";

/* Ne lehessen kijelölni a Graph node szövegeit */
.graph-node-label {
  user-select: none;
}

@theme {
  --color-bg: #d9d9d9;
  --color-gray: #8b8b8b;
  --color-white: #ffffff;
  --color-black: #2c2c2c;

  --color-bg-hover: #c0c0c0;
  --color-gray-hover: #7a7a7a;
  --color-white-hover: #f2f2f2;
  --color-black-hover: #1f1f1f;

  --color-bg-active: #a8a8a8;
  --color-gray-active: #6b6b6b;
  --color-white-active: #e6e6e6;
  --color-black-active: #141414;
}
